@page "/OpenCity/{id:int}"
@using Domain.Models
@using HttpClients.ClientInterfaces
@using SEP3lu
@inject IRestaurantService RestaurantService
@inject IHotelService HotelService
@inject IParkService ParkService
@inject ICityService cityService
@inject IMuseumService MuseumService 
@inject NavigationManager NavMgr


<h3 class="heading"><b>@title</b></h3>
<img class="photo" src=@imsrc height=80% width=80%/>
<div>
    <h3><b>About @title</b></h3>
    <p class="description">@desc</p>
</div>
<h3><b>Explore @title</b></h3>
<div class="row">
    <div class="column" @onclick="@((() => NavMgr.NavigateTo($"/OpenCityRestaurants/{id}")))">
        Restaurants &#127869;
    </div>
    <div class="column" @onclick="@((() => NavMgr.NavigateTo($"/OpenCityHotels/{id}")))">
        Hotels &#127960; 
    </div>
    <div class="column" @onclick="@((() => NavMgr.NavigateTo($"/OpenCityParks/{id}")))">
        Parks &#127957;
    </div>
    <div class="column" @onclick="@((() => NavMgr.NavigateTo($"/OpenCityMuseums/{id}")))">
        Museums &#127963;
    </div>
</div>

        <style>
            .column {
              float: left;
              width: 25%;
              font-size: 22px;
            }
            
            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            
            .heading{
            text-align: center;
            }
            
            .description{
            /*text-align: center;*/
            font-size: 1.5em;
           /* color: #505050;*/
            padding: 20px;
            /*background-color: #f1f1f1;*/
            border-radius: 10px;
            }
            
            .photo{
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }
           
        </style>
@code {

    [Parameter]
    public int id { get; set; }

    private IEnumerable<City> cities;
    private IEnumerable<Restaurant> restaurants;
    private IEnumerable<Hotel> hotels;
    private IEnumerable<Museum> museums;
    private IEnumerable<Park> parks;
    private City theCity;

    private string title;
    private string desc;
    private string imsrc;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            cities = await cityService.getCities("getall");
            restaurants = await RestaurantService.getRestaurants(id);
            hotels = await HotelService.getHotels(id);
            museums = await MuseumService.getMuseums(id);
            parks = await ParkService.getParks(id);
            theCity = cities.FirstOrDefault(city => city.Id == id);

            title = theCity.Name;
            desc = theCity.Description;
            imsrc = theCity.ImageURL;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }




}